section.contact-us .icon-email {
  color: var(--subtitle);
  margin-right: 1rem;
  font-size: 1.8rem;
}
section.contact-us .title {
  font-size: 2rem;
  color: var(--title);
  margin-bottom: 1rem;
}

section.contact-us .sub-title {
  color: var(--subtitle);
  margin-bottom: 2rem;
  line-height: 1.2rem;
}

section.contact-us label {
  font-size: 1.2rem;
  color: var(--subtitle);
}
section.contact-us #email,
section.contact-us #message {
  all: unset;
  background-color: transparent;
  border: 1px solid rgb(63, 63, 70);
  min-width: 18rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  transition: 0.1s;
  font-size: 1rem;
  border-radius: 6px;
}
section.contact-us #message {
  min-height: 9rem;
  resize: both;
}
.light section.contact-us #email,
.light section.contact-us #message {
  background-color: transparent;
  color: antiquewhite;
}

section.contact-us #email:focus,
section.contact-us #message:focus {
  border: 1px solid rgb(4, 152, 61);
}
section.contact-us #email:hover,
section.contact-us #message:hover {
  border: 1px solid rgba(2, 86, 35, 0.282);
}

section.contact-us .submit {
  background-color: rgba(36, 37, 46, 1);
  width: 10rem;
  padding: 0.5rem 0;
  text-align: center;
  border: 1px solid var(--subtitle);
  font-size: 0.8rem;
  text-transform: capitalize;
  opacity: 0.5;
  transition: 0.3s;
  align-self: center;
  border-radius: 5px;
  margin: 25px 10px;
}
.light section.contact-us .submit {
  background-color: rgb(0, 0, 0);
  opacity: 1;
  align-self: center;
  color: #fff;
}
section.contact-us .submit:hover {
  scale: 0.95;
  border: 1px solid var(--blue);
}
section.contact-us form {
  display: flex;
  flex-direction: column;
}
/*
=============================================
media
=============================================
*/
@media (max-width: 800px) {
  section.contact-us .animation {
    display: none;
  }
}
@media (max-width: 600px) {
  section.contact-us form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  section.contact-us form div.flex {
    flex-direction: column;
  }
  section.contact-us #email,
  section.contact-us #message {
    margin: 0;
    padding: 0.5rem 0;
    width: fit-content;
  }
  section.contact-us #email {
    margin-bottom: 1rem;
    width: 18rem;
  }
  section.contact-us .submit {
    width: 50%;
    margin: 10px 0;
  }
  section.contact-us .animation {
    display: none;
  }
}
